* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(222, 233, 255);
    font-size: 16px;
    font-family: Calibri, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
}

li {
    padding: 8px;
}

a {
    color: blue;
}

a:hover {
    color: cornflowerblue;
}

img {
    border: solid black 1px;
    border-radius: 5px;
    display: block;
    max-height: 250px;
}

.container {
    max-width: 700px;
    margin: auto;
    padding-bottom: 2em;
}

.center-text {
    text-align: center;
    display: block;
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.child-1 {
    flex: 0 1 0;
}

.child-2 {
    flex: 1 1 0;
    min-width: 200px;
}